<h1> Movies </h1>

<a href="/movies/movie_new_form"> Add a Movie </a>

<% @list_of_movies.each do |movie| %>
<h2> <%= movie.title %></h2>
<a href="/movies/<%= movie.id %>"> Show </a>
<h3>Year</h3> <p><%= movie.year %></p>
<img src="<%= movie.image_url %>">
<h3>Duration</h3> <p> <%= "#{movie.duration} minutes" %></p>
<h3>Description</h3> <p> <%= movie.description %></p>
<a href="/movies/<%= movie.id %>/edit_form">Edit</a>
<a href="/delete_movie/<%= movie.id %>">Delete</a>

<% end %>
<div>
<a href="/">Home</a>
